.bingoTitle {
    margin-top: 20px;
    text-align: center;
}

@media print {
    @page {
        size: landscape;
        orientation: landscape;
    }

    .bingoTitle {
        margin-top: 0;
    }
}